@media (min-width: 769px) {
  .NavHeader {
    display: flex;
    height: 100px;
    flex-direction: column;
    background-color: rgb(244, 221, 18);
  }

  .AppName {
    font-size: 50px;
    color: blue;
    text-align: center;
    margin-bottom: 0;
  }

  .NavList {
    list-style: none;
    align-items: left;
    margin-bottom: 0px;
  }

  .NavListItem {
    text-align: left;
    font-size: 30px;
  }

  svg {
    max-height: 65vh;
    margin-bottom: 100px;
  }

  .returnHome {
    font-size: 30px;
    color: blue;
    text-align: center;
  }
}
