@media (min-width: 769px) {
  .NavHeader {
    display: flex;
    height: 150px;
    flex-direction: column;
    background-color: rgb(224, 21, 166);
    text-align: center;
    padding-right: 3.5%;
  }

  .AppName {
    font-size: 45px;
    color: white;
    margin-bottom: 0px;
    text-decoration: underline;
  }

  .NavList {
    list-style: none;
    margin-bottom: 0px;
  }

  /* .NavListItem {
  } */

  svg {
    max-height: 65vh;
    margin-bottom: 100px;
  }

  .returnHome {
    font-size: 25px;
    color: white;
  }
}
