@media (min-width: 769px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }

  .difficultySelect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homeHeader {
    font-size: 85px;
    color: rgb(224, 21, 166);
    margin-bottom: 0;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .chooseDifficulty {
    font-size: 40px;
    color: black;
    font-weight: bold;
  }

  .selectDropBox {
    border: solid black 2px;
    font-size: 30px;
    color: black;
    margin-bottom: 15%;
    border-radius: 10px;
    border-color: rgb(224, 21, 166);
  }

  .easyOption {
    font-size: 30px;
    color: rgb(224, 21, 166);
    text-align: center;
  }

  .mediumOption {
    font-size: 30px;
    color: rgb(224, 21, 166);
    text-align: center;
  }

  .hardOption {
    font-size: 30px;
    color: rgb(224, 21, 166);
    text-align: center;
  }

  .startButton {
    font-size: 45px;
    border: solid rgb(224, 21, 166) 2px;
    color:white;
    background-color:  rgb(224, 21, 166);
    border-radius: 10px;
  }
}
