@media (min-width: 769px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .difficultySelect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homeHeader {
    font-size: 85px;
    color: rgb(224, 21, 166);
  }

  .chooseDifficulty {
    font-size: 40px;
    color: black;
    font-weight: bold;
  }

  .selectDropBox {
    border: solid black 2px;
    font-size: 30px;
    color: blue;
  }

  .easyOption {
    font-size: 35px;
    color: rgb(120, 195, 8);
    font-weight: bold;
  }

  .mediumOption {
    font-size: 35px;
    color: orange;
    font-weight: bold;
  }

  .hardOption {
    font-size: 35px;
    color: red;
    font-weight: bold;
  }

  .startButton {
    font-size: 45px;
    background-color: #4caf50;
  }
}
