@media (min-width: 769px) {
  .App-header {
    background-color: white;
  }
  .answer-options {
    background-color: white;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .submitButton {
    font-size: 45px;
    color: black;
    background-color: #4caf50;
  }

  .submitButton:hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
}
